/* styles/my-styles.scss */
.my-card {
    width: 320px;
    height: 250px;
    display: block;
    position: relative;
    border-radius: 10px;
}

.my-img {
    width: 320px;
    height: 180px;
}

.my-pagination {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-title {
    color: #737373;
    background-color:  #afccff;
    font-size: 1rem;
}
