<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Slideshow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <Swiper-container class="swiper-container"
    [slidesPerView]="1"
    [spaceBetween]="10"
    [centeredSlides]="true"
    [loop]="true"
    [pagination]="true"
    [autoplay]="5000">
    <swiper-slide *ngFor="let mem of ListNews">
      <div class="my-card-container">
        <a [routerLink]="['/detail-news', mem.id]" class="my-card">
          <ion-card class="my-card">
            <ion-card-header class="img-title">
              <ion-card-title>{{ mem?.title }}</ion-card-title>
            </ion-card-header>
            <ion-img [src]="mem?.img" class="my-img"></ion-img>
          </ion-card>
        </a>
      </div>
    </swiper-slide>
  </Swiper-container>
</ion-content>
