<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Đăng nhập</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="custom ion-align-items-center ion-justify-content-center">

    <ion-col size="12">
      <!-- <h2 style="font-weight: bold;" class="ion-text-center ion-margin-bottom">Đăng nhập</h2> -->
      <div class="image-container ion-text-center">
        <img src="../../assets/image/medical-folder-icon-1024x1024-pcc8rd2e.png" alt="">
      </div>
      <ng-container *ngIf="isLogin">
        <!-- <ion-button expand="full" (click) = "insertEvent()">create event</ion-button>  -->
        <form (ngSubmit)="GetOTP()">
          <ion-item class="ion-margin-bottom">
            <ion-label label = "numberPhone" position="floating">Số điện thoại</ion-label>
            <ion-input aria-label="numberPhone" [(ngModel)]="phoneNumber" type="number" name="phone"></ion-input>
          </ion-item>
          <ion-button class="mb-3 btn-login" expand="full" tyApe="submit">Xác nhận</ion-button>
          <hr/>
        </form>
        <div id="sign-in-button"></div>
      </ng-container>

      <ng-container *ngIf="!isLogin">
        <form (ngSubmit)="VerifyOTP()">
              <div class="otp-container">
                <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6}"></ng-otp-input>
              </div>

          <ion-button class="mb-3 btn-login" expand="full" type="submit">Gửi mã OTP</ion-button>
          <hr/>
        </form>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
