<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label>Thêm thuốc</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Tin tức</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">

      <!-- <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Trang chủ</ion-label> -->
      <img src="../../assets/image/medical-folder-icon-1024x1024-pcc8rd2e.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="appointment">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>Lịch khám</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-setting">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Người dùng</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
