ion-item {
  font-size: 18px;
  font: inherit;
  font-size: larger;
  color: black;
}

.label {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: bolder;
}

ion-datetime {
  color: #224058;
}

ion-title {
  color: black;
  align-items: center;
  text-align: center;
}

ion-toolbar {
  opacity: 0.8;
}
