.form-control{
    margin-bottom: 20px;
}
.form-create{
  padding: 25px;

}
.center-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.selected {
  background-color: #007bff; /* Change this to your desired color */
  color: #fff; /* Change this to your desired text color */
}
.fixed-button-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white; /* Adjust background color as needed */
  z-index: 999; /* Optional: Adjust z-index to ensure it's above other content */
}
.time-itemshow{

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.time-item{
  text-align: center;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-right: 5px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  width: 20%;
}
.btn-group{
  display: flex;
  justify-content: end;
}
.medicine-group-show{
  background-color: #afccff;
}
.list-medicine-gr{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 7px;
}
.medicine-name{
  width: 70%;
  color: black;

}
.medicine-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: black;
    width: 30%;
    color: white;
    font-weight: bold;

}
.card-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
