ion-item {
  font-size: 18px;
}

.label {
  margin: 0px 0px 10px 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

ion-title {
  color: black;
  align-items: center;
  text-align: center;
}

ion-toolbar {
  --opacity: 0.8;
}
