.form-control{
    margin-bottom: 20px;
}
.form-create{
  padding: 25px;

}
.center-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.selected {
  background-color: #007bff; /* Change this to your desired color */
  color: #fff; /* Change this to your desired text color */
}
.fixed-button-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white; /* Adjust background color as needed */
  z-index: 999; /* Optional: Adjust z-index to ensure it's above other content */
}
.time-itemshow{

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.time-item{
  text-align: center;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-right: 5px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  width: 20%;
}
.btn-group{
  display: flex;
  justify-content: end;
}
.medicine-group-show{
  background-color: #afccff;
}
.list-medicine-gr{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 7px;
}
.medicine-name{
  width: 70%;
  color: black;

}
.medicine-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: black;
    width: 30%;
    color: white;
    font-weight: bold;

}
.card-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
ion-modal {
  --height: 35%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --width:80%
}
.quan-btn-gr{
  display: flex;
  flex-direction: row;
}

ion-modal::part(backdrop) {
//  background: rgba(209, 213, 219);
background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #afccff;
  --color: white;
}
// .custom-content{
//   margin: auto;
//   max-width: 80%; /* Set a maximum width for the content */
//   padding: 15px; /* Add padding around the content */
//   display: flex;
//   flex-direction: column;
//   align-items: center; /* Center the content vertically */
//   justify-content: center;
// }
.item-medicine-pop{
  display: flex;
  width: 100%;
  flex-direction: row;
  //justify-content: space-between;
  align-items: center;
}
ion-toolbar{
  position: sticky;
  top: 0;
  z-index: 1;
}
.quan-btn-medi{
    display: flex;
    justify-content: end;
    width: 100%;
}
ion-searchbar{
  --border-radius:15px;
}
