<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tin Tức
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="news" [fullscreen]="true" class="ion-padding">
  <div class="news-container">
    <ion-card class="my-card" *ngFor="let mem of ListNews" (click)="viewDetail(mem?.id|| '')">
      <ion-card-header class="img-title">
        <ion-card-title>{{ mem.title }}</ion-card-title>
      </ion-card-header>
      <ion-img [src]="mem.img" class="my-img"></ion-img>
      <ion-card-content *ngIf="mem && mem.detail">
        {{ truncateText(mem.detail, 30) }}
        <a (click)="viewDetail(mem?.id|| '')">Xem thêm</a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
