<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Thông tin cá nhân</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="user-profile">
    <div (click)="AddImage()" class="profile-image">
      <img [src]="userImage" alt="User Profile">
    </div>
    <ion-item>
      <div class="gg-login">
          <ion-button *ngIf="googleLogin"  style="width: 100%;" (click) = "LoginGoogle()" color="warning">Kết nối với Google<img style="width: 24px; height: 24px;" src="../../assets/image/icons8-google-48.png" alt=""></ion-button>
        <ng-container  *ngIf="disableGG">
            <div class="user-info">
              <div style="display: flex; align-items: center;justify-content: center;">
                <ion-avatar>
                  <img style="height: 60px;width: 60px;" [src]="googleUser.photoUrl" alt="User Profile Picture">
                </ion-avatar>
              </div>
              <div>
                <p style="font-weight: 16px;font-weight: bold;">{{ googleUser.displayName }}</p>
                <p>{{ googleUser.email }}</p>
              </div>
              <div style="width: 100%;">
                <ion-button color="secondary" expand="full" (click) = "LogoutGoogle()">Đăng xuất</ion-button>
              </div>
            </div>

        </ng-container>
      </div>
    </ion-item>
    <ion-item class="profile-option" >
      <ion-button (click) = "NavigateToPage('/user-edit')"  fill="clear">Thông tin cá nhân</ion-button>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
    <ion-item class="profile-option" >
      <ion-button   fill="clear">Lịch sử thông báo</ion-button>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
    <ion-item class="profile-option" >
      <ion-button  fill="clear">Hỗ trợ</ion-button>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
    <div class="btn-out">
      <ion-button (click) = "LogoutUser()" color="danger">Đăng xuất</ion-button>
    </div>
  </div>

</ion-content>
